<html>
  <head>
    <% if (title) { %>
      <title><%= title %></title>
    <% } else { %>
      <title>Reminders</title>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      div { margin: 10px 0px 10px 0px; }
    </style>
  </head>
  <body>
    <div id="content"></div>
    <script src="/bundle.js"></script>
  </body>
</html>